@import 'bootstrap/bootstrap';

@font-face {
  font-family: MainFont;
  src: url('../Montserrat-Regular.ttf');
}
* {
  font-family: 'MainFont';
}

.site-nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .dropdown-menu[data-bs-popper] {
    left: auto;
    right: 0px;
  }
}

.site_auth_nav {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media all and (max-width: 350px) {
  .lang {
    display: none;
  }
  .lang-bottom {
    display: block !important;
  }
}

.form {
  width: 90%;
  max-width: 750px;
  .inputs-widget {
    float: left;
  }
}

#picturePreview,
#picturePlaceholder {
  width: 178px;
  height: 178px;
}

#picturePlaceholder {
  background-color: #f1f1f1;
  cursor: pointer;
  transition: background-color 0.4s ease;

  &:hover {
    background-color: #e0e0e0;
  }
}

.picture-placeholder- {
  &error {
    box-shadow: 0px 0px 10px rgba(220, 53, 69, 0.8) !important;
  }
  &success {
    box-shadow: 0px 0px 10px rgba(25, 135, 84, 0.8) !important;
  }
}

#picturePreview {
  object-fit: cover;
}

.controls {
  right: 5px;
  top: 4px;
  cursor: pointer;
}

/* Gallery */
.images {
  margin-left: -5px;
  margin-right: -5px;
  .image-box .xmark {
    cursor: pointer;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transform: translate(5px, -9px);
    top: 0px;
    right: 0px;
  }
}

/* Loading spinner*/
.loader {
  width: 31px;
  height: 31px;
  border: 3px solid #13131a;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  margin: auto;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
